.site-login{
    height: 100vh;
    .sign-in{
        position: absolute;
        top: -60px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 350px;
        height: 250px;
        padding: 1rem;
        border: 3px solid #efe6e6; /* Белая рамка */
        border-radius: 10px; /* Радиус скругления */
        form{
            height: 100%;
        }
        .registration{
            display: inline-block; 
        }
        button{
            display: inline-block;
        }
        #alert{
            display: none;
        }
    }
}

