
.modal-open{
    .modal.fade.show{
        .modal-dialog.modal-dialog-centered{
            .modal-content{
                .modal-body{
                    .form-group{
                        #cancel-desc{
                            display: none;
                        }
                        #description{
                            border: none;
                            background-color: white;
                            min-height: 100px;
                            max-height: 300px;
                        }
                        #change-desc-submit{
                            display: none;
                            margin-top: 5px !important;
                        }
                    }
                }
            }
        }
    }
}