
.modal-open{
    .modal.fade.show{
        .modal-dialog.modal-dialog-centered{
            max-width: 900px;
            .modal-content{
                .modal-body{
                    display: inline-block;
                    padding: 0;
                    .comments{
                        max-height: 275px;
                        display: inline-block;
                        padding: 1rem;
                        label{
                            margin: 0;
                        }
                        .form-group{
                            width: 100%;
                            margin: 10px 0 10px 10px;
                            border:1px solid #e9ecef;
                            border-radius: 1.5rem;
                            padding: 10px 0 10px 10px;
                            font-size: smaller;
                            p{
                                display: inline-block;
                                margin:auto;
                                b{
                                    margin-right: 10px;
                                }
                            }
                        }                     
                    }
                    .right-form{
                        padding: 1rem;        
                        border-bottom:1px solid #e9ecef;
                        .form-group{
                            #description{
                                border: none;
                                background-color: white;
                                min-height: 75px;
                                max-height: 200px;
                            }
                            #change-desc-submit{
                                margin-top: 5px !important;
                            }
                        }
                        .date{
                            margin: auto;
                            .form-group{
                                margin: auto;
                                display: inline-block;
                            }
                        }
                    }
                    .bottom-form{
                        padding:1rem;
                        display: inline-block;
                        width: 100%;
                        border-top: 1px solid #e9ecef;
                        .form-group{
                            display: inline-flex;
                            margin: auto;
                            textarea{
                                width: 745px;
                                height: 63px;
                                margin-right: 1rem;
                                resize: none;
                                border-radius: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}